<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Acme Styleguide <%= title.length > 0 ? '|' : '' %> <%= title %></title>
    <link rel="shortcut icon" href="static/favicon.ico" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="static/css/styleguide.css">
    <link rel="stylesheet" href="static/css/doc.css">
    <link rel="stylesheet" href="static/css/github.css">

    <!-- CSS to be documented -->
    <link rel="stylesheet" href="build/css/style.css">

</head>
  <body class="<%= @blocks.length > 1 ? 'category-nav-showing' : '' %>">
    <nav class="side-nav">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="media">
              <div class="media-left media-middle">
                <img class="styleguide-logo" src="static/acme-logo.svg" alt="">
              </div>
              <div class="media-body media-middle">
                <h1 class="h3 em-mid type-light mtn mbs">Acme Inc.</h1>
                <h2 class="h4 em-normal type-light mvn">Front-end styleguide</h2>
              </div>
              <div class="media-right media-middle">
                <button id="menuToggle" class="btn btn-hamburger visible-xs">
                  <svg class="hamburger" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M19,33h62c1.104,0,2-0.896,2-2s-0.896-2-2-2H19c-1.104,0-2,0.896-2,2S17.896,33,19,33z"/><path d="M19,53h62c1.104,0,2-0.896,2-2s-0.896-2-2-2H19c-1.104,0-2,0.896-2,2S17.896,53,19,53z"/><path d="M19,73h62c1.104,0,2-0.896,2-2s-0.896-2-2-2H19c-1.104,0-2,0.896-2,2S17.896,73,19,73z"/></svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <nav class="category-navigation">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-unstyled">
                <li><a class="btn btn-block btn-nav mvl <%= 'active' if title.length == 0 %>" href="index.html">Intro</a></li>
                <li><a class="btn btn-block btn-nav mvl <%= 'active' if title == 'colors' %>" href="colors.html">Colors</a></li>
                <li><a class="btn btn-block btn-nav mvl <%= 'active' if title == 'typography' %>" href="typography.html">Typography</a></li>
                <li><a class="btn btn-block btn-nav mvl <%= 'active' if title == 'components' %>" href="components.html">Components</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </nav>


    <main class="styleguide-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <% if @blocks.length > 1 %>
              <nav class="component-nav paxl">
                <% @blocks.each do |block| %>
                  <% if block[:parent].nil? %>
                    <a class="mrm" href="#<%= block[:name] %>"><%= block[:title] %></a>
                  <% end %>
                <% end %>
              </nav>
            <% end %>

            <div class="styleguide-inner">
