<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Acme Styleguide <%= title.length > 0 ? '|' : '' %> <%= title %></title>
    <link rel="shortcut icon" href="static/favicon.ico" />

    <!-- Search engines -->
    <meta name="description" content="A boilerplate for creating front-end style guides, powered by Hologram.">
    <!-- Google Plus -->
    <!-- Update your html tag to include the itemscope and itemtype attributes. -->
    <!-- html itemscope itemtype="http://schema.org/{CONTENT_TYPE}" -->
    <meta itemprop="image" content="http://acme-styleguide.cfapps.io/static/favicon.ico">

    <!-- Twitter -->
    <meta name="twitter:card" content="A boilerplate for creating front-end style guides, powered by Hologram.">
    <meta name="twitter:site" content="@mattrothenberg">
    <meta name="twitter:title" content="Acme Styleguide">
    <meta name="twitter:description" content="A boilerplate for creating front-end style guides, powered by Hologram.">
    <meta name="twitter:creator" content="@mattrothenberg">
    <meta name="twitter:image:src" content="http://acme-styleguide.cfapps.io/static/favicon.ico">
    <!-- Open Graph General (Facebook & Pinterest) -->
    <meta property="og:url" content="http://acme-styleguide.cfapps.io">
    <meta property="og:title" content="Acme Styleguide">
    <meta property="og:description" content="A boilerplate for creating front-end style guides, powered by Hologram.">
    <meta property="og:site_name" content="Acme Styleguide">
    <meta property="og:image" content="http://acme-styleguide.cfapps.io/static/favicon.ico">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_us">

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">


    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="static/css/styleguide.css">
    <link rel="stylesheet" href="static/css/doc.css">
    <link rel="stylesheet" href="static/css/github.css">

    <!-- CSS to be documented -->
    <link rel="stylesheet" href="built-styles/css/style.css">

</head>
  <body class="<%= @blocks.length > 1 ? 'category-nav-showing' : '' %>">
    <nav class="side-nav">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="media">
              <div class="media-left media-middle">
                <img class="styleguide-logo" src="static/acme-logo.svg" alt="">
              </div>
              <div class="media-body media-middle">
                <h1 class="h4 em-mid type-light m-y-0">Acme Inc.</h1>
                <h2 class="h6 em-normal type-light m-t-1">Front-end styleguide</h2>
              </div>
              <div class="media-right media-middle">
                <button id="menuToggle" class="btn btn-hamburger p-a-0 hidden-md-up">
                  <svg class="hamburger" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M19,33h62c1.104,0,2-0.896,2-2s-0.896-2-2-2H19c-1.104,0-2,0.896-2,2S17.896,33,19,33z"/><path d="M19,53h62c1.104,0,2-0.896,2-2s-0.896-2-2-2H19c-1.104,0-2,0.896-2,2S17.896,53,19,53z"/><path d="M19,73h62c1.104,0,2-0.896,2-2s-0.896-2-2-2H19c-1.104,0-2,0.896-2,2S17.896,73,19,73z"/></svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <nav class="category-navigation">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-unstyled">
                <li><a class="btn btn-block btn-nav m-y-1 <%= 'active' if title.length == 0 %>" href="index.html">Intro</a></li>
                <li><a class="btn btn-block btn-nav m-y-1 <%= 'active' if title == 'colors' %>" href="colors.html">Colors</a></li>
                <li><a class="btn btn-block btn-nav m-y-1 <%= 'active' if title == 'typography' %>" href="typography.html">Typography</a></li>
                <li><a class="btn btn-block btn-nav m-y-1 <%= 'active' if title == 'components' %>" href="components.html
                ">Components</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </nav>


    <main class="styleguide-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <% if @blocks.length > 1 %>
              <nav class="component-nav" data-gumshoe-header>
                <ul class="list-inline m-a-0 p-x-3 nowrap overflow-x-auto" data-gumshoe>  
                <% @blocks.each do |block| %>
                  <% if block[:parent].nil? %>
                  <li class="list-inline-item">
                    <a class="p-y-3 p-x-2" href="#<%= block[:name] %>"><%= block[:title] %></a>
                  </li>
                  <% end %>
                <% end %>
                </ul>
              </nav>
            <% end %>

            <div class="styleguide-inner">
