/*doc
---
title: Alerts
name: alerts
category: components
---

```html_example
<div class="alert alert-danger">
  <div class="media">
    <div class="media-left media-top">
      <i class="fa fa-exclamation-triangle fa-2x"></i>
    </div>
    <div class="media-body media-middle plxl">
      <h1 class="h4 mtn mbs">Uhh, did you see that the reactor is on fire!?</h2>
      <p class="mbn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta doloribus unde, harum illum deleniti fugit inventore non, nemo cumque exercitationem, atque numquam esse corrupti quis eum odit officia adipisci suscipit.</p>
    </div>
  </div>
</div>
```
*/