/*doc
---
title: Buttons
name: button
category: components
---

Try-hard fashion axe banjo pork belly, kickstarter keffiyeh whatever wolf gochujang cliche photo booth coloring book raw denim. Lomo hot chicken tumeric la croix.

```html_example
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-cta btn-secondary">Don't Click Me</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-cta btn-secondary active">I've Been Clicked</button>
  </div>
</div>
```

```html_example
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-primary">Don't Click Me</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary active">I've Been Clicked</button>
  </div>
</div>
```

```html_example
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-success">Don't Click Me</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-success active">I've Been Clicked</button>
  </div>
</div>
```

```html_example
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-danger">Don't Click Me</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-danger active">I've Been Clicked</button>
  </div>
</div>
```

```html_example
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-primary">
      <i class="fa fa-spinner fa-spin fa-lg mrm"></i>
      Loading
    </button>
  </div>
</div>
```

*/

.btn {
  font-weight: 500;
}

.btn-primary {
  background: map-get($colors, 'belize-hole');

  &.active {
    background: darken(map-get($colors, 'belize-hole'), 10%);
  }
}

.btn-success {
  background: map-get($colors, 'nephritis');

  &.active {
    background: darken(map-get($colors, 'nephritis'), 10%);
  }
}

.btn-danger {
  background: map-get($colors, 'pomegranate');

  &.active {
    background: darken(map-get($colors, 'pomegranate'), 10%);
  }
}
