/*doc
---
title: Typography
name: typography
category: typography
---

Blog fanny pack ethical aesthetic food truck tacos, kale chips beard neutra pinterest meditation pour-over hoodie. Tbh try-hard art party, drinking vinegar farm-to-table slow-carb hella selfies kombucha pork belly intelligentsia yuccie gochujang.

```html_example_table
<h1 class="mvxl">Hey, what's up, hello?</h1>

<h2 class="mvxl">Hey, what's up, hello?</h2>

<h3 class="mvxl">Hey, what's up, hello</h3>

<h4 class="mvxl">Hey, what's up, hello</h4>

<h5 class="mvxl">Hey, what's up, hello</h5>

<p class="mvxl">Hey, what's up, hello</p>

```

*/


h1 {
  font-size: 36px;
  font-weight: lighter;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.text-secondary {
	color: #6f6f6f;
}

.type-light {
  color: #fff;
}

.em-mid {
  font-weight: 500;
}

.em-normal {
  font-weight: normal;
}

.em-low {
	font-weight: lighter;
}