$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

@import 'bootstrap/bootstrap';
@import 'variables';
@import 'alert';
@import 'buttons';
@import 'cards';
@import 'colors';
@import 'empty';
@import 'forms';
@import 'icons';
@import 'modal';
@import 'mixins';
@import 'tables';
@import 'typography';

@include scrollbars(8px, darken(#ddd, 18%));